#   Cartographer Version 4 updated config
#####################################################################

[mcu cartographer]
#canbus_uuid: UUID
#serial: /dev/serial/by-id/usb-Cartographer_***
#    adjust to suit your cartographer, if using usb change to serial

[cartographer]
mcu: cartographer
#   Offsets are measured from the centre of your coil, to the tip of your nozzle
#   on a level axis. It is vital that this is accurate.
x_offset: 0
#    adjust for your cartographers offset from nozzle to middle of coil
y_offset: -21.2
#    adjust for your cartographers offset from nozzle to middle of coil


[bed_mesh]
zero_reference_position: 86.5, 95
speed: 250
horizontal_move_z: 5
mesh_min: 13, 21.2
mesh_max: 160, 140
probe_count: 15, 15
algorithm: bicubic
adaptive_margin: 10
mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough

[adxl345]
cs_pin: cartographer: PA3
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
#accel_per_hz: 125
probe_points:
    87, 90, 20

[temperature_sensor Cartographer_MCU]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 0
max_temp: 105

[homing_override]
axes: xyz
set_position_z: 0
gcode:
   G90
   G0 Z5 F600
  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

  {% if home_all or 'X' in params %}
    G28 X
    M117 "HOME X"
  {% endif %}

  {% if home_all or 'Y' in params %}
    G90
    G1 X20 F5000     # <-- replace X-80 with an in-range move
    G28 Y
    M117 "HOME Y"
  {% endif %}

  {% if home_all or 'Z' in params %}
    G90
    G1 X87.5 Y90 F5000
    G28 Z
    M117 "HOME Z"
    G1 Z20
  {% endif %}
