# This file contains common pin mappings for the BigTreeTech Octopus V1.
# To use this config, the firmware should be compiled for the STM32F446 with a "32KiB bootloader"
# Enable "extra low-level configuration options" and select the "12MHz crystal" as clock reference

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.

## Micron Cfg for BigTreeTech OctoPus V1 TMC2209 UART config

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths                            [mcu] section
## Thermistor types                     [extruder] and [heater_bed] sections - See 'sensor types' list at end of file
## Z Endstop Switch location            [safe_z_home] section
## Homing end position                  [gcode_macro G32] section
## Z Endstop Switch  offset for Z0      [stepper_z] section
## Probe points                         [quad_gantry_level] section
## Min & Max gantry corner postions     [quad_gantry_level] section
## PID tune                             [extruder] and [heater_bed] sections
## Thermistor types                     [extruder] and [heater_bed] sections
## Probe pin                            [probe] section
## Fine tune E steps                    [extruder] section



#####################################################################
#    Includes
#####################################################################
[include macros.cfg]
[include mainsail.cfg]
[include klicky/klicky-probe.cfg]

#####################################################################
#   Top-Level Settings
#####################################################################
# Obtain MCU paths by "ls -l /dev/serial/by-id/". 
# Some Arduinos clones (CH340) may require using "ls -l /dev/serial/by-path/"
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_23003E00095053424E363420-if00

################################

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
max_accel_to_decel: 3000
max_z_velocity: 15
max_z_accel: 350
square_corner_velocity: 5

[idle_timeout]
# 2 hrs
timeout: 7200
gcode:
    PARK_REAR
    TURN_OFF_HEATERS

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
[stepper_x]
#MOT2_EN=PG5,  MOT2_STEP=PF11, MOT2_DIR=PG3,  MOT2_CS=PC6,   # MOTOR2
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
microsteps: 32
rotation_distance: 32
full_steps_per_rotation:200  
homing_positive_dir: true
position_min: 0
position_endstop: 117
position_max: 117
endstop_pin: tmc2209_stepper_x:virtual_endstop
#homing_retract_dist: 5  # with sensorless homing, can't use retract dist.
homing_retract_dist: 0
homing_speed: 50

# B motor (left)
[tmc2209 stepper_x]
uart_pin: PC6
interpolate: false
run_current: 0.7
sense_resistor: 0.110

diag_pin: PG10    # use the pin that correlates to the PXDIAG pin from the stepper
driver_SGTHRS:  100 # 255 is most sensitive value, 0 is least sensitive
stealthchop_threshold: 0


[stepper_y]
#MOT3_EN=PA0,  MOT3_STEP=PG4,  MOT3_DIR=PC1,  MOT3_CS=PC7,   # MOTOR3
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
microsteps: 32
rotation_distance: 32   ; rotation_distance = <belt_pitch> * <number_of_teeth_on_pulley>
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 128
position_max: 128
homing_speed: 50
homing_retract_dist: 0

# A motor (right)
[tmc2209 stepper_y]
uart_pin: PC7
interpolate: false
run_current: 0.7
#hold_current:
sense_resistor: 0.110

diag_pin: PG11    # use the pin that correlates to the PXDIAG pin from the stepper
driver_SGTHRS: 125 # 255 is most sensitive value, 0 is least sensitive
stealthchop_threshold: 0


#####################################################################
#   Z Stepper Settings
#####################################################################
# Z0 Stepper - Front Left on MOTOR1
[stepper_z]
#MOT4_EN=PG2,  MOT4_STEP=PF9,  MOT4_DIR=PF10, MOT4_CS=PF2,   # MOTOR4
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
endstop_pin: PG13
microsteps: 32
rotation_distance: 32
gear_ratio: 64:16
homing_speed: 12
homing_retract_dist: 2
second_homing_speed: 1
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -0.5
position_min: -5
position_max: 120

# Z0 Stepper - Front Left
[tmc2209 stepper_z]
uart_pin: PF2
interpolate: false
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0


# Z1 Stepper - Rear Left on MOTOR3
[stepper_z1]
#MOT5_EN=PF1,  MOT5_STEP=PC13, MOT5_DIR=PF0,  MOT5_CS=PE4,   # MOTOR5
step_pin: PC13
dir_pin: PF0
enable_pin: !PF1
microsteps: 32
rotation_distance: 32
gear_ratio: 64:16

# Z1 Stepper - Rear Left
[tmc2209 stepper_z1]
uart_pin: PE4
interpolate: false
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0


# Z2 Stepper - Rear Right on MOTOR4
[stepper_z2]
#MOT6_EN=PD4,  MOT6_STEP=PE2,  MOT6_DIR=PE3,  MOT6_CS=PE1,   # MOTOR6
step_pin: PE2
dir_pin: !PE3
enable_pin: !PD4
microsteps: 32
rotation_distance: 32
gear_ratio: 64:16

# Z2 Stepper - Rear Right
[tmc2209 stepper_z2]
uart_pin: PE1
interpolate: false
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0


# Z3 Stepper - Front Right on MOTOR5
[stepper_z3]
#MOT7_EN=PE0,  MOT7_STEP=PE6,  MOT7_DIR=PA14, MOT7_CS=PD3,   # MOTOR7
step_pin: PE6
dir_pin: PA14
enable_pin: !PE0
microsteps: 32
rotation_distance: 32
gear_ratio: 64:16

# Z3 Stepper - Front Right
[tmc2209 stepper_z3]
uart_pin: PD3
interpolate: false
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0


[extruder]
#MOT1_EN=PF15, MOT1_STEP=PG0,  MOT1_DIR=PG1,  MOT1_CS=PD11,  # MOTOR1
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
heater_pin: PA2 # HE0
sensor_pin: PF4
rotation_distance: 22.6789511   #Bondtech 5mm Drive Gears
gear_ratio: 50:10              #BMG Gear Ratio
microsteps: 32
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.750
sensor_type: Generic 3950
min_temp: 0
max_temp: 290
#min_temp: -273.15  # when running the gantry without the hotend attached.
#max_temp: 1000     # use these instead so Klipper doesn't have a fit.
min_extrude_temp: 170
max_power: 1.0
#control: pid
#pid_Kp: 28.182
#pid_Ki: 1.978
#pid_Kd: 100.397
#max_extrude_only_distance: 780
##  Try to keep pressure_advance below 1.0
#pressure_advance: 0.05
##  Default is 0.040, leave stock
#pressure_advance_smooth_time: 0.040

[tmc2209 extruder]
uart_pin: PD11
interpolate: false
run_current: 0.3
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PF3
##	Adjust Max Power so your heater doesn't warp your bed
max_power:  1.0
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[temperature_sensor octopus]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

#####################################################################
#   Probe
#####################################################################

[bed_mesh]
speed: 300
horizontal_move_z: 10
mesh_min: 1,1
mesh_max: 116,85
probe_count: 7,7
relative_reference_index: 12
algorithm: bicubic
mesh_pps: 2,2


[probe]
pin: PG14
#z_offset = 0.0
samples: 9
samples_result: median
sample_retract_dist: 0.75
samples_tolerance: 0.06
samples_tolerance_retries: 6
speed: 3
lift_speed: 10

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[quad_gantry_level]
gantry_corners:
    -57.53, -9.51      # from Micron CAD Center-of-KGLM03 to bed.
    177.53, 184.15     # from Micron CAD Center-of-KGLM03 to bed.
    #-50,-4.5
    #170,180
    #-35,0
    #150,177
#	Probe points
points:
    5,5
    5,80
    110,80
    110,5
    #25,0
    #25,70
    #90,70
    #90,0
speed: 100
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10


# If doing sensorless homing, then the 'safe_z_home' section must be commented out,
# and the 'homing_override' section must be uncommented.

#[safe_z_home]
##  XY Location of the Z Endstop Switch
##  Update -10,-10 to the XY coordinates of your endstop pin 
##  (such as 60,123) after going through Z Endstop Pin
##  Location Definition step.
# home_xy_position:-10,-10
# speed:100
# z_hop:10

[gcode_macro HOME_XY]
gcode:
  M114 Homing XY
 ; lower current so we don't do much harm when we crash going away from home
  {% set HOME_CUR = 0.20 %}
  SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR}
  SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}
  M400
  G91 # incremental
  ; First, move away from the back-right.
  G0 x-10 y-10 F300
  M400
  {% set HOME_CUR = 0.8 %}
  SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR}
  SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}
  ; Wake the motors. They get weird if you don't do a move first after changing the current.
  M400
  G0 X+3 y+3 F600
  M400
  G90
  ; Now that we have space...
  ; Home X.
  G28 X0
  G4 P2000  ; wait for stall register to clear
  M400
  G91
  G0 X-20
  G90
  M400
  G28 Y0
  G4 P2000  ; wait for stall register to clear4
  # the following move is to ensure that we don't accidentally knock off the probe if it
  # happens to be on at the time XY homing is invoked.
  G0 Y{printer.toolhead.axis_maximum.y-20}
  M400
  M114
  
[homing_override]
axes: xyz
set_position_x: 60
set_position_y: 60
set_position_z: 0
gcode: 
  #_User_Variables
  M400
  M204 S1000
  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}
  {% set driver_config_x = printer.configfile.settings['tmc2209 stepper_x'] %}
  {% set driver_config_y = printer.configfile.settings['tmc2209 stepper_y'] %}
  {% set RUN_CUR_X = driver_config_x.run_current|float %}
  {% set RUN_CUR_Y = driver_config_y.run_current|float %}
  G91 # incremental
  G0 z+5   ; Move to a safer z (one that doesn't drag the nozzle)
  G90
  HOME_XY
  #HOME_XY  ; Yup doing it twice 'cause in some cases it doesn't work well the first time.
  SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CUR_X}
  SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CUR_Y}

  {% if home_all or 'Z' in params %}
    M117 Homing Z
    G90
    # The following is pulled from _User_Variables from the klicky_variables.cfg
    {% set z_endstop_x = printer["gcode_macro _User_Variables"].z_endstop_x %}
    {% set z_endstop_y = printer["gcode_macro _User_Variables"].z_endstop_y %}
    #M117 Going to z probe location at: {z_endstop_x}, {z_endstop_y}
    G0 X{z_endstop_x} Y{z_endstop_y}
    G28 Z0
    G1 Z20
    M117
  {% endif %}

#####################################################################
#   Fan Control
#####################################################################

[fan]
##	Print Cooling Fan - CNC_FAN0
pin: PE5
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan hotend_fan]
#	Hotend Fan - CNC_FAN1
pin: PA8
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
#	If you are experiencing back flow, you can reduce fan_speed
fan_speed: 1.0

#Controller Fan
[output_pin controller_fan]
pin: !PD12
pwm: true
shutdown_value: 1
value: 0.6


########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

#####################################################################
#   Displays
#####################################################################

##  Uncomment the display that you have
#--------------------------------------------------------------------

#[display]
##  mini12864 LCD Display
#lcd_type: uc1701
#cs_pin: EXP1_3
#a0_pin: EXP1_4
#rst_pin: EXP1_5
#encoder_pins: ^EXP2_5, ^EXP2_3
#click_pin: ^!EXP1_2
#contrast: 63
#spi_software_miso_pin: EXP2_1
#spi_software_mosi_pin: EXP2_6
#spi_software_sclk_pin: EXP2_2

#[neopixel btt_mini12864]
##  To control Neopixel RGB in mini12864 display
#pin: EXP1_6
#chain_count: 3
#initial_RED: 0.1
#initial_GREEN: 0.5
#initial_BLUE: 0.0
#color_order: RGB

##  Set RGB values on boot up for each Neopixel. 
##  Index 1 = display, Index 2 and 3 = Knob
#[delayed_gcode setdisplayneopixel]
#initial_duration: 1
#gcode:
#        SET_LED LED=btt_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
#        SET_LED LED=btt_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0
#        SET_LED LED=btt_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=3 

#--------------------------------------------------------------------


## 	Thermistor Types
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"

#####################################################################
#   Macros
#####################################################################

[gcode_macro G32]
gcode:
    SAVE_GCODE_STATE NAME=G32_state
    G90
    G28
    QUAD_GANTRY_LEVEL
    G28
    RESTORE_GCODE_STATE NAME=G32_state

[delayed_gcode delayed_turnoff_heaters]
initial_duration: 0
gcode:
   TURN_OFF_HEATERS
   M107                                     ; turn off fan
   
[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
    {% set BED_TEMP_DEFAULT = 110.0  %}
    {% set EXTRUDER_TEMP_DEFAULT = 235  %}

    {% if params.BED %}
        {% set BED_TEMP = params.BED|default(BED_TEMP_DEFAULT)|float %}
    {% endif %}
    {% if params.BED_TEMP %}
        {% set BED_TEMP = params.BED_TEMP|default(BED_TEMP_DEFAULT)|float %}
    {% endif %}

    {% if params.EXTRUDER %}
        {% set EXTRUDER_TEMP = params.EXTRUDER|default(EXTRUDER_TEMP_DEFAULT)|float %}
    {% endif %}
    {% if params.EXTRUDER_TEMP %}
        {% set BED_TEMP = params.EXTRUDER_TEMP|default(EXTRUDER_TEMP_DEFAULT)|float %}
    {% endif %}

    {% set PREWARM_EXTRUDER_TEMP = [EXTRUDER_TEMP-50,160.0]|min %}
    {% set heat_soak_minutes = params.HEAT_SOAK_MINUTES|default(0)|int %}
    {% set heat_soak_hours = params.HGEAT_SOAK_HOURS|default(0.0)|float %}
    M117 PrintStart B:{BED_TEMP} E:{EXTRUDER_TEMP} HS:
    ; disable the delayed_turnoff_heaters so we don't have heaters
    ; turning off during the print! The PRINT_END macro will reinstate
    ; this.
    UPDATE_DELAYED_GCODE ID=delayed_turnoff_heaters DURATION=0
    # Start heating immediately to save time.
    M140 S{BED_TEMP}
    M104 S{PREWARM_EXTRUDER_TEMP}
    # Home all axes
    G28
    QUAD_GANTRY_LEVEL
    PARK_REAR
    # Wait for bed to reach temperature
    M190 S{BED_TEMP}
    # Set and wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}
    # Wait for the heat soak time.
    HEAT_SOAK  soak_hours={heat_soak_hours} soak_minutes={heat_soak_minutes} EXTRUDER_TEMP={EXTRUDER_TEMP} BED_TEMP={BED_TEMP}
    # Now that everything is at temp, clean the nozzle of any ooze.
    CLEAN_NOZZLE
    # Home again, now that all the heat expansion is done.
    G32
    #.. and calibrate Z!
    CALIBRATE_Z
    # Adjust the G-Code Z offset if needed
    SET_GCODE_OFFSET Z_ADJUST={params.Z_ADJUST|default(0.0)|float} MOVE=1
    # Finally, do an intro line, then.. into it!
    INTRO_LINE EXTRUDER_TEMP={EXTRUDER_TEMP}
    M117

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-5.0 F1800                 ; retract filament
    M400

    #TURN_OFF_HEATERS              ; Instead, we'll do a delayed macro to turn off the heaters!
    
    G90                                      ; absolute positioning
    PARK_REAR                                ; park stuff in rear.
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END
    ; Give 300s for the next print or something to happen before turning heaters off
    ; .. this is nice so we don't have to wait for the bed, etc. to heat up again
    ; in the often common case of printing after the last stuff is done.
    UPDATE_DELAYED_GCODE ID=delayed_turnoff_heaters DURATION=300

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 28.767
#*# pid_ki = 2.019
#*# pid_kd = 102.484
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 62.149
#*# pid_ki = 2.354
#*# pid_kd = 410.186
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.001250, 0.003750, -0.005000, -0.015000, -0.007500, -0.000000, 0.006250
#*# 	0.008750, 0.000000, -0.008750, -0.011250, -0.013750, -0.006250, 0.001250
#*# 	0.002500, -0.002500, -0.013750, -0.028750, -0.017500, -0.008750, 0.002500
#*# 	-0.007500, -0.008750, -0.016250, -0.028750, -0.030000, -0.015000, 0.002500
#*# 	-0.011250, -0.010000, -0.012500, -0.021250, -0.023750, -0.013750, 0.002500
#*# 	-0.010000, -0.006250, -0.010000, -0.017500, -0.013750, -0.002500, 0.005000
#*# 	0.010000, 0.005000, -0.003750, -0.008750, -0.008750, 0.005000, 0.008750
#*# tension = 0.2
#*# min_x = 1.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 1.0
#*# x_count = 7
#*# max_y = 85.0
#*# mesh_x_pps = 2
#*# max_x = 115.96
#*#
#*# [probe]
#*# z_offset = -0.886
#*#
#*# [stepper_z]
#*# position_endstop = -0.172
