# This file contains common pin mappings for the BIGTREETECH Manta M8P V2.0
# To use this config, the firmware should be compiled for the
# STM32H723 with a "128KiB bootloader" "25 MHz crystal"
# and "USB (on PA11/PA12)", "CAN bus (on PD0/PD1)" or Serial (on USART1 PA10/PA9).

# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the OctoPus with that SD card.

# See docs/Config_Reference.md for a description of parameters.

## Micron Cfg for BigTreeTech Manta m8p V2 TMC2209 UART config

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths                            [mcu] section
## Thermistor types                     [extruder] and [heater_bed] sections - See 'sensor types' list at end of file
## Z Endstop Switch location            [safe_z_home] section
## Homing end position                  [gcode_macro G32] section
## Z Endstop Switch  offset for Z0      [stepper_z] section
## Probe points                         [quad_gantry_level] section
## Min & Max gantry corner postions     [quad_gantry_level] section
## PID tune                             [extruder] and [heater_bed] sections
## Thermistor types                     [extruder] and [heater_bed] sections
## Probe pin                            [probe] section
## Fine tune E steps                    [extruder] section


#####################################################################
#   Important other files
#####################################################################

[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/{REPLACE WITH YOUR SERIAL}
restart_method: command
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 3000             #Max 4000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_1
##  Endstop connected to DIAG_0
[stepper_x]
step_pin: PE6
dir_pin: PE5
enable_pin: !PC14
rotation_distance: 32
microsteps: 32
full_steps_per_rotation:200  
position_min: 0
##--------------------------------------------------------------------

##  Uncomment below for Micron build
#position_endstop: 115
#position_max: 115

##  Uncomment for Micron+ build
#position_endstop: 180
#position_max: 180

##--------------------------------------------------------------------
homing_positive_dir: true
endstop_pin: ^PF4
homing_retract_dist: 5
homing_speed: 50   #Max 100 

[tmc2209 stepper_x]
uart_pin: PC13
##diag_pin: PF4 
interpolate: false
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

##  A Stepper - Right
##  Connected to MOTOR_2
##  Endstop connected to DIAG_1
[stepper_y]
step_pin: PE2
dir_pin: PE1
enable_pin: !PE4
rotation_distance: 32
microsteps: 32
full_steps_per_rotation:200
position_min: 0
##--------------------------------------------------------------------

##  Uncomment below for Micron build
#position_endstop: 123
#position_max: 123

##  Uncomment for Micron+ build
#position_endstop: 190
#position_max: 190

##--------------------------------------------------------------------
homing_positive_dir: true
endstop_pin: ^PF3
homing_retract_dist: 5
homing_speed: 50   #Max 100 

[tmc2209 stepper_y]
uart_pin: PE3
diag_pin: PF3
interpolate: false
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

 

#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to MOTOR_3
##  Endstop connected to DIAG_2
[stepper_z]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PE0
##--------------------------------------------------------------------

##  Uncomment for Standard Z Drives
#rotation_distance: 32
#gear_ratio: 64:16

##  Uncomment for G2Z Z Drives
#rotation_distance: 40
#gear_ratio: 9:1

##--------------------------------------------------------------------
microsteps: 32
endstop_pin: ^PF2
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
position_endstop: -0.5
##--------------------------------------------------------------------

##  Uncomment below for Micron build
#position_max: 110

##  Uncomment below for Micron+ build
#position_max: 165

##--------------------------------------------------------------------
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PB9
##diag_pin: PF2
interpolate: false
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z1 Stepper - Rear Left
##  Connected to MOTOR_5
[stepper_z1]
step_pin: PG13
dir_pin: PG12
enable_pin: !PG15

##--------------------------------------------------------------------

##  Uncomment for Standard Z Drives
#rotation_distance: 32
#gear_ratio: 64:16

##  Uncomment for G2Z Z Drives
#rotation_distance: 40
#gear_ratio: 9:1

##--------------------------------------------------------------------
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PG14
interpolate: false
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Rear Right
##  Connected to MOTOR_6
[stepper_z2]
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11 
##--------------------------------------------------------------------

##  Uncomment for Standard Z Drives
#rotation_distance: 32
#gear_ratio: 64:16

##  Uncomment for G2Z Z Drives
#rotation_distance: 40
#gear_ratio: 9:1

##--------------------------------------------------------------------
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PG10
interpolate: false
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z3 Stepper - Front Right
##  Connected to MOTOR_7
[stepper_z3]
step_pin: PD4
dir_pin: PD3
enable_pin: !PD6
##--------------------------------------------------------------------

##  Uncomment for Standard Z Drives
#rotation_distance: 32
#gear_ratio: 64:16

##  Uncomment for G2Z Z Drives
#rotation_distance: 40
#gear_ratio: 9:1

##--------------------------------------------------------------------
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PD5
interpolate: false
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#   Extruder
#####################################################################

##  Connected to MOTOR_8
##  Heater - HE1 - PA1
##  Thermistor - TH0 - PB0
[extruder]
step_pin: PC7
dir_pin: PC8
enable_pin: PD2
##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
rotation_distance: 22.6789511  #Bondtech 5mm Drive Gears
gear_ratio: 50:10              #BMG Gear Ratio
microsteps: 32
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: PA1
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for NTC 100k 3950 thermistors
#sensor_type:
sensor_pin: PB0
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
control = pid
pid_kp = 26.213
pid_ki = 1.304
pid_kd = 131.721
##  Try to keep pressure_advance below 1.0
#pressure_advance: 0.05
##  Default is 0.040, leave stock
#pressure_advance_smooth_time: 0.040

##  E0 on MOTOR8
[tmc2209 extruder]
uart_pin: PC6
interpolate: false
run_current: 0.3
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
##  Heater Pin - HE0 - PA0
##  Thermistor - THB - PB1
heater_pin: PA0
##  Validate the following thermistor type to make sure it is correct
##  See https://www.klipper3d.org/Config_Reference.html#common-thermistors for additional options
sensor_type: ATC Semitec 104GT-2
sensor_pin: PB1 # THB
max_power: 0.6
min_temp: 0
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

#####################################################################
#   Probe
#####################################################################

[probe]
##  Klicky Probe - Since this is just an endstop switch its wired up to one of the endstop ports
## For the DIAG_7 port.  Change to !PG15 if probe is NO.
pin: PG15
x_offset: 0
y_offset: 26.0
z_offset: 0
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3

#####################################################################
#   Fan Control
#####################################################################

[fan]
##  Print Cooling Fan - FAN0 - MAKE SURE TO SET THE VOLTAGE JUMPER TO 5V , MOST 3007 FANS ARE 5V
pin: PF7
kick_start_time: 0.5
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan hotend_fan]
##  Hotend Fan - FAN1
pin: PF9
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[controller_fan controller_fan]
##  Controller fan - FAN2
pin: PF6
kick_start_time: 0.5
heater: heater_bed

#[fan_generic soc-fan]
#pin: host:gpio79  #CB1
#pin: host:gpio26  #CM4

## Fan3
#[heater_fan fan3]
#pin: PF8

## Fan4
#[heater_fan fan4]
#pin: PA4

## Fan5
#[heater_fan fan5]
#pin: PA6
#tachometer_pin: PC2

## Fan6
#[heater_fan fan6]
#pin: PA2
#tachometer_pin: PC1

#####################################################################
#   LED Control
#####################################################################

## Chamber Lighting - HE2 Connector (Optional)
#[output_pin caselight]
#pin: PA3
#pwm:true
#shutdown_value: 0
#value:1
#cycle_time: 0.01

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800



[quad_gantry_level]

#--------------------------------------------------------------------

##  Gantry Corners for Micron Build
##  Uncomment for Micron build
#gantry_corners:
#   -54.5,-2.15
#   170,180
##  Probe points
#points:
#   5,5
#   5,80
#   110,80
#   110,5

##  Gantry Corners for Micron+ Build
##  Uncomment for Micron+ build
#gantry_corners:
#   -60.2,-10.4
#   244.1,234.5
##  Probe points
#points:
#   2,2
#   2,150
#   170,150
#   170,2

#--------------------------------------------------------------------

speed: 100
horizontal_move_z: 15
retries: 5
retry_tolerance: 0.0075
max_adjust: 10


########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>

# See the sample-lcd.cfg file for definitions of common LCD displays.

#[adxl345]
#cs_pin: PA15
#spi_bus: spi3a

#[bltouch]
#sensor_pin: PD13
#control_pin: PD12

## Proximity switch
#[probe]
#pin: PD8

#[output_pin ps_on_pin]
#pin: PD14

#[neopixel my_neopixel_1]
#pin: PD15

#[hall_filament_width_sensor]
#adc1: PC0
#adc2: PF10
#####################################################################
#   Macros
#####################################################################
[gcode_macro PARK]
gcode:
    {% set th = printer.toolhead %}
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y//2} Z30  

[gcode_macro G32]
gcode:
    SAVE_GCODE_STATE NAME=STATE_G32
    G90
    G28
    QUAD_GANTRY_LEVEL
    G28
    PARK
    RESTORE_GCODE_STATE NAME=STATE_G32
   
[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
    G32                            ; home all axes
    G90                            ; absolute positioning
    G1 Z20 F3000                   ; move nozzle away from bed
   

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-5.0 F1800                 ; retract filament
    
    TURN_OFF_HEATERS
    
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
    M107                                     ; turn off fan
    
    BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END
